## OBS: Dessa exempel finns också på Google Colab, länken finns på itslearning!

# Villkorssatser

In [ ]:
a = 1

# Exempel konvertera teckensträng till heltal (int):
int("5") # 5

# ta emot ett värde, konvertera sedan till int:
b = input("Ge ett värde åt b ") # returnerar en teckensträng
b = int(b) # vi konverterar teckensträngen till ett heltal

# samma sak kan göras på en enda rad så här:
# b = int(input(f"a är {a}, Ge ett värde åt b: "))

if a == b:
  print(f"Sant: {a} == {b}")

if a != b:
  print(f"Sant: {a} != {b}")

if a > b:
  print(f"Sant: {a} > {b}")

if a < b:
  print(f"Sant: {a} < {b}")

if a >= b:
  print(f"Sant: {a} >= {b}")

if a <= b:
  print(f"Sant: {a} <= {b}")


if a == b:
  print(f"if-elif-else: {a} == {b}")
elif b > a:
  print(f"if-elif-else: {b} > {a}")  
else:
  print(f"if-elif-else: Ingendera är sant!")

a är 1, Ge ett värde åt b: 4
Sant: 1 != 4
Sant: 1 < 4
Sant: 1 <= 4
if-elif-else: 4 > 1

In [ ]:
if input() == "a":
  print("yes")

b

In [ ]:
a = 1
b = 4
c = 4

if a == 1 and (b == 3 or c == 4):
  print("YES!")
else:
  print("nope")

YES!

# List

In [ ]:
list_a = [2, 4, 6, 8]

'''
print(list_a[0])
print(list_a[3])
print(f"list_a har { len(list_a) } värden.")
'''

veckodag = 4
#    index: 0     1     2      3     4    5     6
list_b = [ "må", "ti", "on", "to", "fr", "lö", "sö" ]

print(f"I dag är det { list_b[veckodag] }, i morgon är det {list_b[veckodag+1]}")


print( list_b[-2] )

I dag är det fr, i morgon är det lö
lö

In [ ]:
inre_lista_1 = [2,4,6,8]

print(inre_lista_1)

inre_lista_1.append(10)

print(inre_lista_1)

inre_lista_2 = [1,3,5,7]

yttre_lista = [ 
  inre_lista_1, 
  inre_lista_2 
]

lista1 = [
  [2,4,6,8], # lista1, index 0
  [
    1, # lista[1][0]
    3, # lista[1][1]
    5, # lista[1][2]
    7  # lista[1][3]
   ] 
]

#print(lista1[1][3])

[2, 4, 6, 8]
[2, 4, 6, 8, 10]

In [ ]:
inre_lista_1 = [2,4,6,8]

print(inre_lista_1)

inre_lista_1.append(10) # Lägger till på slutet av listan
print(inre_lista_1)

inre_lista_1.pop() # tar bort sista elementet
print(inre_lista_1)

inre_lista_1.pop(2) # tar bort element nr 2
print(inre_lista_1)

[2, 4, 6, 8]
[2, 4, 6, 8, 10]
[2, 4, 6, 8]
[2, 4, 8]

# Dict

In [ ]:
dude_1 = {
    "name": "Fredde",
    "age": 42,
    "likes": "Python",
    "address": {
        "street": "gatan 1",
        "city": "Helsingfors"
    }
}

dude_2 = {
    "name": "Linus",
    "age": 51,
    "likes": "C"
}

"""
print(f"{dude_1['name']} is {dude_1['age']} old and likes {dude_1['likes']}")
print(f"{dude_2['name']} is {dude_2['age']} old and likes {dude_2['likes']}")
"""

dudes = [
  { "name": "Fredde", "age": 42, "likes": "Python" },
  { "name": "Linus", "age": 51, "likes": "C" },
  { "name": "Betty", "age": 100, "likes": "Breakpoints" }  
]

for dude in dudes:
  print(f"{dude['name']} is {dude['age']} yrs old and likes {dude['likes']}")

Fredde is 42 yrs old and likes Python
Linus is 51 yrs old and likes C
Betty is 100 yrs old and likes Breakpoints

In [ ]:
dude_1 = {
    "name": "Fredde",
    "age": 42,
    "likes": "Python"
}

print(dude_1)

dude_1["address"] =  { "street": "gatan 1", "city": "Helsingfors" }
 
print(dude_1)

dude_1.pop('address')
print(dude_1)
dude_1.pop('address', None)

{'name': 'Fredde', 'age': 42, 'likes': 'Python'}
{'name': 'Fredde', 'age': 42, 'likes': 'Python', 'address': {'street': 'gatan 1', 'city': 'Helsingfors'}}
{'name': 'Fredde', 'age': 42, 'likes': 'Python'}

# Recap 1

In [ ]:
print("Mata in ett heltal: ")
inmatat_tal = input() # ta emot teckensträng (str)
inmatat_tal = int(inmatat_tal) # returnerar inmatat_tal med datatyp int istf str
svaret = inmatat_tal * 10
print(f"Svaret är: {svaret}")

Mata in ett heltal:
8
Svaret är: 80

In [ ]:
print(int(input("Skriv ett tal: ")) * 10)

Skriv ett tal: 5
50

# for-loop

In [ ]:
dagar = [ "må", "ti", "on", "to", "fr", "lö", "sö" ]

"""
for dag in dagar:
  print(dag)
  if dag == "fr":
    print("(TGIF)")
"""

"""
for i in range(1, 7):
  print(i)
"""  

for dagnummer, dag in enumerate(dagar):
  print(f"{dagnummer}: {dag}")



dudes = [
  { "name": "Fredde", "age": 42, "likes": "Python" },
  { "name": "Linus", "age": 51, "likes": "C" },
  { "name": "Betty", "age": 100, "likes": "Breakpoints" }  
]

for dude in dudes:
  print(f"{dude['name']} is {dude['age']} yrs old and likes {dude['likes']}")

# while-loop

In [ ]:
while True:

  i = 1
  while i <= 3:
    print(i)
    i += 1    #i = i + 1

  if input("Vill du fortsätta? (y/n)") != "y":
    break

print("Bye Bye")

In [ ]:
# while True-recap
print("välkommen!")
min_variabel = 1

while True: 

  print(" hej på dig")
  min_variabel += 1 # min_variabel = min_variabel + 1
  print(f" min variabel är nu {min_variabel}")

  if input("Fortsätt loopa? (y/n)") == "n":
    break

# Slut på loopen!
print("slut på programmet")

# Felhantering try/except

In [ ]:

try:
  namnare = input("Ge nämnaren till täljaren 5: ")
  resultat = 5/int(namnare)
  print(f"Resultat: {resultat}")
except ZeroDivisionError:
  print("Du får inte dividera med 0!")
except ValueError as e:
  print("Du måste ge ett heltal!")
except Exception as e:
  print(f"Nåt annat fel: {e}")

In [ ]:
while True:
  try:
    a = int(input("ge ett heltal: "))
    print("Du skrev talet", a)
    break
  except ValueError:
    print("Det där var inte ett heltal, försök igen!")

print("tack o hej")

# Funktioner

In [ ]:
def say_hello(name):
  print(f"Hello {name}!")

for namn in ["Fredde", "Dennis", "Jonny"]:
  say_hello(namn)

Hello Fredde!
Hello Dennis!
Hello Jonny!

In [ ]:
tio = int("10") # int() returnerar ett heltal
print(tio)

10

In [ ]:
def greeting(name):
  svar = f"Hello {name}!"
  return svar

for namn in ["Fredde", "Dennis", "Jonny"]:
  reply = greeting(namn)
  print(reply)

In [ ]:
def omkrets(diam: float) -> float: # Explicit  parametertyp (float) samt returtyp (float)
  """Räknar ut omkrets på basis av diameter"""
  return diam * 3.1415

print(f"Omkretsen är {omkrets(8)}")

In [ ]:
def multiply(factor1, factor2):
  return factor1*factor2


print(multiply(6,7))

# Keyword arguments

In [ ]:
def display_price(product, price, amount=1, print_message=True):
  ret = f"{amount} st {product} kostar {price*amount} €"
  if print_message == True:
    print(ret)
  return ret

display_price("Bulle", 3.3, print_message=False)

display_price("bulle", 3.3, 5)

display_price("bulle", 4, print_message=True, amount=1, )

5 st bulle kostar 16.5 €
1 st bulle kostar 4 €

'1 st bulle kostar 4 €'

# Metoder

In [ ]:
len(" hej ") # len() är funktion (inte en metod)

" hej ".strip() 
"hej".upper()
"HEJ".lower()

print("hej hej".replace("he", "mo")) # Byt ut del av teckensträng

# Vanligt sätt att använda lower()
# Poängen här är att godkänna både "Q" och "q":
user_input = input("Skriv Q för att avsluta: ")
if user_input.lower() == 'q':
  print("quit")


# list-metoder
my_list = ["ett", "två", "tre"]
my_list.append("fyra")
my_list.reverse()
print(my_list)

moj moj
['fyra', 'tre', 'två', 'ett']

# Moduler: *datetime*

In [ ]:
import datetime
print(datetime.datetime.now())

current_time = datetime.datetime.now()

print(current_time.strftime("Året är %Y"))
print(current_time.strftime("I dag är %d.%m.%Y klockan är %H:%m"))

2021-11-12 08:43:05.223669
Året är 2021
I dag är 12.11.2021 klockan är 08:11

In [ ]:
from datetime import datetime

current_time = datetime.now()

print(current_time.strftime("Året är %Y"))
print(current_time.strftime("I dag är %d.%m.%Y klockan är %H:%m"))

print(f"I år är det {current_time.year} nästa år är {current_time.year+1}")

Året är 2021
I dag är 12.11.2021 klockan är 08:11
I år är det 2021 nästa år är 2022

In [ ]:
import datetime

tidpunkt = datetime.datetime(2021, 12, 24)
tidpunkt = datetime.datetime(2021, 12, 24, 18, 30, 55)



print(f"Julafton är {tidpunkt}")

Julafton är 2021-12-24 18:30:55

# Moduler: *random*

In [ ]:
import random

print(random.random())
print(random.randint(1,10))
print(random.uniform(1,10))


print(random.randint(1,6)) # tärningskast

my_list = ["knäböj", "bänk", "marklyft", "press"]

print(random.sample(my_list, 2))


my_list = ["ett", "två", "tre", "fyra", "fem"]
random.shuffle(my_list)
print(my_list)

0.7680219547133289
3
7.7184591018784
2
['marklyft', 'knäböj']
['fem', 'två', 'fyra', 'tre', 'ett']

# modulo

In [ ]:
8 % 4 = 0

# List comprehension

In [ ]:
my_list = [ 1,2,3,4,5,6,7,8,9,10 ]

### Långa sättet
new_list = []
for number in my_list:
  new_list.append(number*10)

print(new_list)

### List comprehension FTW!

new_list = [ number*10 for number in my_list ]

print(new_list)

In [ ]:
foods_list = [ "potato", "beef", "rice", "bread", "fish", "pasta", "chicken", "tofu" ]
meats = [ "beef", "fish", "chicken"]

vege = [ food for food in foods_list if food not in meats ]

print(vege)

### Långa sättet...
vege = []
for food in foods_list:
  if food not in meats:
    vege.append(food)

print(vege)

['potato', 'rice', 'bread', 'pasta', 'tofu']
['potato', 'rice', 'bread', 'pasta', 'tofu']